.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: var(--sidebar-width);
    height: 100%;
    min-height: 100vh;
    padding: 0;
    background: var(--white);
    border-right: 1px solid var(--grey-ee);
    transition: 0.15s width linear;
  }

  .sidebar .sidebar-menu {
    margin: 0;
    padding: 115px 0 20px;
    list-style: none;
    height: calc(100vh - 30px);
    max-height: 100%;
    overflow-y: auto;
  }
  
  .sidebar .sidebar-menu::-webkit-scrollbar {
    width: 0px;
  }
  
  .sidebar .sidebar-menu a.sb-link {
    display: block;
    text-decoration: none;
  }
  
  .sidebar .sidebar-menu li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    max-height: 38px;
    min-height: 38px;
    transition: 0.19s ease-in-out all;
  }
  
  /* .sidebar .sidebar-menu li:hover {
    background: linear-gradient(
      to right,
      rgb(221, 14, 58,0.1),
      rgb(221, 14, 58,0)
    );
  } */
  
  .sidebar .sidebar-menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
  }
  
  .sidebar .sidebar-menu li:hover::before {
    visibility: visible;
    opacity: 1;
  }
  
  .sidebar .sidebar-menu li img {
    width: 16px;
    min-width: 16px;
    max-width: 16px;
    margin-left: 3px;
  }
  
  .sidebar .sidebar-menu li span {
    font-family: var(--regular);
    font-size: var(--font-14);
    color: var(--grey-61);
    line-height: 1;
    flex-basis: 90%;
    white-space: nowrap;
  }

  .sidebar-top {
    position: fixed;
    left: 0;
    z-index: 11;
    width: var(--sidebar-width);
    background: var(--white);
    border-right: 1px solid var(--grey-ee);
  }

  .sidebar-top .logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    min-height: 72px;
  }

  .sidebar-top .logo img {
    width: 100%;
  }

  .side-menu-box{
    width: 48px;
    height: 48px;
    background-color:rgb(248, 248, 248);
    align-items: center ;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
}

.side-menu-box:hover{
   background-color:rgb(255, 224, 224);
}

.side-menu-box.active{
  background-color:rgb(255, 224, 224);
}