body {
  margin: 0;
  
}

/* code {
  font-family: "Metropolis-Bold";
} */


  
  @font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter.ttf);
  }

  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter';
  }



table.table tbody tr:hover {
  border-radius: 8px;
}

table.table tbody tr:hover td {
  /* font-family: "Metropolis-Medium";
  color: var(--black); */
}

table.table tbody tr:last-child {
  border-bottom: none !important;
}

table.table tbody tr:hover {
  background-color: #f3f3f3 !important;
  cursor: pointer !important;
}

table.table tbody tr td {
  padding: 12px 10px 12px 0;
  cursor: pointer;
}

table.table thead tr {
  font-family: "Metropolis-Light";
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 8px;
  vertical-align: middle;
}

table.table td .dropdown button {
  padding-block: 0;
}

.border-bottom {
  border-bottom: 1px solid var(--bg-border);
}

.no-border {
  border: none !important;
}

table.table td span[data-bold] {
  font-family: "Metropolis-SemiBold";
}

/* Common Styles for Tables */

.mybookings-table-wrap {
  font-family: "Metropolis-Medium";
  font-size: 15px;
  width: 100%;
  border: solid 1px var(--bg-border);
  background: var(--white);
  margin: 20px 0;
  padding: 8px;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: none;
}

.mybookings-table-wrap.no-border {
  border: none;
}

.mybookings-table-wrap.no-padding {
  padding: 0;
}

.mybookings-table {
  position: relative;
  height: 200px;
}

.mybookings-table.removeHeight {
  height: auto;
}

.mybookings-table-wrap .mybookings-table thead {
  position: relative;
  z-index: 1;
}

.mybookings-table-wrap .mybookings-table thead::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 8px;
}

.mybookings-table-wrap .mybookings-table thead tr th {
  font-family: "Metropolis-SemiBold";
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding: 12px 10px 12px 0;
  background: none !important;
  color: currentColor !important;
}

.mybookings-table-wrap .mybookings-table thead tr th span {
  font-family: "Metropolis-SemiBold";
}

.mybookings-table-wrap .mybookings-table thead tr th:first-child {
  padding-left: 20px;
}

.mybookings-table-wrap .mybookings-table thead tr {
  color: #dd0e3a;
}

.mybookings-table-wrap .mybookings-table tbody tr {
  font-size: 12px;
  z-index: 1;
}

.mybookings-table-wrap .mybookings-table tbody tr td:first-child {
  padding-left: 20px;
  border-radius: 8px 0 0 8px;
}

.mybookings-table-wrap .mybookings-table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.mybookings-table-wrap .mybookings-table tbody tr:hover {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.04);
}

.mybookings-table-wrap .mybookings-table tbody tr:last-child {
  border-bottom: none;
}

.mybookings-table-wrap .mybookings-table tbody tr > td {
  font-family: 12px;
  padding: 12px 10px 12px 0;
  color: var(--black-30);
  text-align: left;
}

.mybookings-table tbody tr.red-row {
  background-color: #faf7f7;
}

.pagination {
  display: flex;
  margin: 30px 0;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 6px;
}

.page-item {
  margin: 0;
}

.page-link:hover {
  background: none;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  font-family: var(--font-medium);
  font-size: var(--default);
  border-radius: 4px !important;
  background: none !important;
  color: var(--bg-dark-6) !important;
  border: none !important;
  cursor: pointer !important;
}

.page-item.active .page-link {
  font-family: var(--font-semibold);
  font-size: var(--normal);
  border: none !important;
  border-radius: 4px !important;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  color: var(--black-30) !important;
}

.page-link:focus,
.page-link:focus-within,
.page-link:visited,
.page-link:active {
  box-shadow: none;
  background-color: none;
  color: var(--bg-dark-2);
}

.page-item.active .page-link.blog {
  background: #dd0e3a !important;
  color: var(--white) !important;
}

.page-item.active .page-link.subject {
  background: #dd0e3a !important;
  color: var(--white) !important;
}

.page-item.active .page-link.contacts {
  background: #009eff !important;
  color: var(--white) !important;
}

.page-item.active .page-link.clients {
  background: #307ff4 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.teams {
  background: #8758ff !important;
  color: var(--white) !important;
}

.page-item.active .page-link.bookings {
  background: #4793b4 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.projects {
  background: #8d9eff !important;
  color: var(--white) !important;
}

.page-item.active .page-link.tenders {
  background: #7e89bc !important;
  color: var(--white) !important;
}

.page-item.active .page-link.tenders-settings {
  background: #307ff4 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.workshop {
  background: #8d9eff !important;
  color: var(--white) !important;
}

.page-item.active .page-link.training {
  background: #00abc1 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.updates {
  background: #e14d2a !important;
  color: var(--white) !important;
}

.page-item.active .page-link.properties {
  background: #59bca8 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.properties-settings {
  background: #00abc1 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.todo {
  background: #ffd000 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.servicedesk {
  background: #975c8d !important;
  color: var(--white) !important;
}

.page-item.active .page-link.incident {
  background: #4e31aa !important;
  color: var(--white) !important;
}

.page-item.active .page-link.directory {
  background: #9e7676 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.deals-orange {
  background: #ff6f00 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.email {
  background: #307ff4 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.feedback {
  background: #8d9eff !important;
  color: var(--white) !important;
}

.page-item.active .page-link.file {
  background: #4793b4 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.pay {
  background: #76aa31 !important;
  color: var(--white) !important;
}

.page-item.active .page-link.password-manager {
  background: #175d4a !important;
  color: var(--white) !important;
}

.page-item.disabled .page-link i {
  font-size: var(--normal);
  color: var(--bg-dark-6);
  cursor: pointer !important;
}

.page-link:focus,
.page-link:focus-within,
.page-link:visited,
.page-link:active {
  box-shadow: none;
  background-color: none;
  color: var(--bg-dark-2);
}

#delete-pop h6 {
  font-size: var(--default);
  color: var(--bg-dark);
  font-weight: 400;
}

#del-yes,
#del-no {
  border-radius: 8px;
  line-height: 1;
  padding: 8px 25px;
  border: none;
}

#del-yes {
  background: var(--teal);
  color: var(--white);
}

#del-yes:focus,
#del-yes:focus-within {
  background: var(--teal);
  color: var(--white);
  box-shadow: none;
}

#del-no:focus,
#del-no:focus-within {
  background: var(--bs-danger);
  color: var(--white);
  box-shadow: none;
}